$primaryFont: 'Montserrat', sans-serif;
$red: 'red';
// Colores
$green: #4CB8B3;
$red: #F53756;
$yellow: #FEF46D;
$purple: #752F97;
$black: #000;
$white: #FFF;

// Media Queries
$phone: 480px;
$tablet: 768px;
$desktop: 1200px;

//Fuentes
$slim: 300;
$regular: 400;
$bold: 700;
$xbold: 900;

// Separaciones
$separation: 3.5rem;