.header {
    background-color: $green;
    .content-header {
        padding: $separation / 2 0;
        @include responsive(tablet) {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }

    h1 {
        text-align: center;
        color: $white;
        margin-bottom: 0.5rem;
        @include responsive(tablet) {
            margin-bottom: 0;
        }
    }
}

.main-nav {
    display: flex;
    gap: 2rem;
    justify-content: center;
    a {
        color: $white;
        font-size: 1.8rem;
        &:hover {
            color: $yellow;
        }
    }
}