@import './base/normalize';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700;900&display=swap');
@import './base/variables';
@import './base/mixins';
@import './base/globals';

@import './layout/header';
@import './layout/video';
@import './layout/info-festival';
@import './layout/lineup';
@import './layout/galery';
@import './layout/tickets';
@import './layout/footer';